<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Metadata</key>
	<dict>
		<key>apple-id</key>
		<string>nin</string>
		<key>artistId</key>
		<integer>135302306</integer>
		<key>artistName</key>
		<string>Nine Inch Nails</string>
		<key>compilation</key>
		<false/>
		<key>composerName</key>
		<string>Nine Inch Nails</string>
		<key>gapless</key>
		<false/>
		<key>genre</key>
		<string>Alternative</string>
		<key>genreId</key>
		<integer>20</integer>
		<key>itemId</key>
		<integer>359960674</integer>
		<key>itemName</key>
		<string>Ghost I-IV (Deluxe Edition)- iTunes LP</string>
		<key>kind</key>
		<string>song</string>
		<key>playlistArtistName</key>
		<string>Nine Inch Nails</string>
		<key>playlistId</key>
		<integer>358065305</integer>
		<key>playlistName</key>
		<string>Ghost I-IV (Deluxe Edition)</string>
		<key>purchaseDate</key>
		<date>2006-06-06T06:06:06Z</date>
		<key>s</key>
		<integer>143441</integer>
		<key>sort-album-artist-status</key>
		<integer>128</integer>
		<key>sort-album-status</key>
		<integer>128</integer>
		<key>sort-artist-status</key>
		<integer>128</integer>
		<key>sort-composer-status</key>
		<integer>128</integer>
		<key>sort-name-status</key>
		<integer>128</integer>
		<key>xid</key>
		<string>EMI:vendor_id:5099962829359_ITUNES_LP</string>
		<key>year</key>
		<integer>2010</integer>
	</dict>
	<key>Name File</key>
	<string>Ghost I-IV (Deluxe Edition).itlp</string>
	<key>associated-adam-ids</key>
	<array>
		<integer>358065305</integer>
		<integer>358065308</integer>
		<integer>358065316</integer>
		<integer>358065325</integer>
		<integer>358065330</integer>
		<integer>358065337</integer>
		<integer>358065341</integer>
		<integer>358065396</integer>
		<integer>358065404</integer>
		<integer>358065472</integer>
		<integer>358065482</integer>
		<integer>358065491</integer>
		<integer>358065499</integer>
		<integer>358065516</integer>
		<integer>358065529</integer>
		<integer>358065560</integer>
		<integer>358065711</integer>
		<integer>358065736</integer>
		<integer>358065738</integer>
		<integer>358065739</integer>
		<integer>359960674</integer>
	</array>
	<key>media-archive-version</key>
	<string>100</string>
	<key>owner-name</key>
	<string>nin</string>
	<key>xid-asset-mapping</key>
	<dict>
		<key>EMI:isrc:GB0400900183</key>
		<array>
			<integer>358108305</integer>
			<integer>358045369</integer>
			<integer>358065739</integer>
			<integer>359141200</integer>
			<integer>358100674</integer>
			<integer>358072832</integer>
			<integer>358065558</integer>
		</array>
		<key>EMI:isrc:GBAYE0903021</key>
		<array>
			<integer>350932888</integer>
			<integer>350952536</integer>
			<integer>351307219</integer>
			<integer>351312019</integer>
			<integer>358045126</integer>
			<integer>358064050</integer>
			<integer>358065337</integer>
			<integer>358072542</integer>
			<integer>358065331</integer>
			<integer>358088185</integer>
			<integer>358239728</integer>
			<integer>358147632</integer>
			<integer>358669357</integer>
			<integer>358100623</integer>
			<integer>358108101</integer>
		</array>
		<key>EMI:isrc:GBAYE1000001</key>
		<array>
			<integer>358044959</integer>
			<integer>358064041</integer>
			<integer>358065308</integer>
			<integer>358072525</integer>
			<integer>358065315</integer>
			<integer>358087931</integer>
			<integer>358239460</integer>
			<integer>358147620</integer>
			<integer>358669214</integer>
			<integer>358100567</integer>
			<integer>358108048</integer>
		</array>
		<key>EMI:isrc:GBAYE1000004</key>
		<array>
			<integer>358045019</integer>
			<integer>358064043</integer>
			<integer>358065316</integer>
			<integer>358072528</integer>
			<integer>358065318</integer>
			<integer>358087985</integer>
			<integer>358239536</integer>
			<integer>358147621</integer>
			<integer>358669324</integer>
			<integer>358100569</integer>
			<integer>358108060</integer>
		</array>
		<key>EMI:isrc:GBAYE1000005</key>
		<array>
			<integer>358045102</integer>
			<integer>358064045</integer>
			<integer>358065325</integer>
			<integer>358072533</integer>
			<integer>358065321</integer>
			<integer>358088059</integer>
			<integer>358239573</integer>
			<integer>358147627</integer>
			<integer>358669338</integer>
			<integer>358100587</integer>
			<integer>358108070</integer>
		</array>
		<key>EMI:isrc:GBAYE1000006</key>
		<array>
			<integer>358045270</integer>
			<integer>358064051</integer>
			<integer>358065341</integer>
			<integer>358072548</integer>
			<integer>358065333</integer>
			<integer>358088227</integer>
			<integer>358239774</integer>
			<integer>358147639</integer>
			<integer>358669368</integer>
			<integer>358100630</integer>
			<integer>358108146</integer>
		</array>
		<key>EMI:isrc:GBAYE1000007</key>
		<array>
			<integer>358045275</integer>
			<integer>358064055</integer>
			<integer>358065396</integer>
			<integer>358072558</integer>
			<integer>358065340</integer>
			<integer>358088342</integer>
			<integer>358239863</integer>
			<integer>358147643</integer>
			<integer>358669385</integer>
			<integer>358100636</integer>
			<integer>358108162</integer>
		</array>
		<key>EMI:isrc:GBAYE1000008</key>
		<array>
			<integer>358045282</integer>
			<integer>358064059</integer>
			<integer>358065404</integer>
			<integer>358072564</integer>
			<integer>358065391</integer>
			<integer>358088432</integer>
			<integer>358239919</integer>
			<integer>358147647</integer>
			<integer>358669433</integer>
			<integer>358100641</integer>
			<integer>358108164</integer>
		</array>
		<key>EMI:isrc:GBAYE1000009</key>
		<array>
			<integer>358045325</integer>
			<integer>358064062</integer>
			<integer>358065472</integer>
			<integer>358072569</integer>
			<integer>358065395</integer>
			<integer>358088516</integer>
			<integer>358239948</integer>
			<integer>358147650</integer>
			<integer>358669438</integer>
			<integer>358100646</integer>
			<integer>358108170</integer>
		</array>
		<key>EMI:isrc:GBAYE1000010</key>
		<array>
			<integer>358045332</integer>
			<integer>358064063</integer>
			<integer>358065482</integer>
			<integer>358072590</integer>
			<integer>358065398</integer>
			<integer>358088597</integer>
			<integer>358240008</integer>
			<integer>358147653</integer>
			<integer>358669527</integer>
			<integer>358100651</integer>
			<integer>358108173</integer>
		</array>
		<key>EMI:isrc:GBAYE1000011</key>
		<array>
			<integer>358045336</integer>
			<integer>358064065</integer>
			<integer>358065491</integer>
			<integer>358072593</integer>
			<integer>358065407</integer>
			<integer>358088671</integer>
			<integer>358240046</integer>
			<integer>358147654</integer>
			<integer>358669531</integer>
			<integer>358100652</integer>
			<integer>358108189</integer>
		</array>
		<key>EMI:isrc:GBAYE1000012</key>
		<array>
			<integer>358045340</integer>
			<integer>358064068</integer>
			<integer>358065516</integer>
			<integer>358072688</integer>
			<integer>358065483</integer>
			<integer>358088906</integer>
			<integer>358240133</integer>
			<integer>358147743</integer>
			<integer>358669590</integer>
			<integer>358100662</integer>
			<integer>358108229</integer>
		</array>
		<key>EMI:isrc:GBAYE1000013</key>
		<array>
			<integer>358045344</integer>
			<integer>358064069</integer>
			<integer>358065529</integer>
			<integer>358072778</integer>
			<integer>358065493</integer>
			<integer>358089010</integer>
			<integer>358240165</integer>
			<integer>358147745</integer>
			<integer>358669592</integer>
			<integer>358100664</integer>
			<integer>358108232</integer>
		</array>
		<key>EMI:isrc:GBAYE1000014</key>
		<array>
			<integer>358045349</integer>
			<integer>358064071</integer>
			<integer>358065560</integer>
			<integer>358072781</integer>
			<integer>358065497</integer>
			<integer>358089105</integer>
			<integer>358240177</integer>
			<integer>358147746</integer>
			<integer>358669598</integer>
			<integer>358100665</integer>
			<integer>358108242</integer>
		</array>
		<key>EMI:isrc:GBAYE1000015</key>
		<array>
			<integer>358045358</integer>
			<integer>358064072</integer>
			<integer>358065711</integer>
			<integer>358072788</integer>
			<integer>358065509</integer>
			<integer>358089220</integer>
			<integer>358240196</integer>
			<integer>358147750</integer>
			<integer>358669601</integer>
			<integer>358100666</integer>
			<integer>358108270</integer>
		</array>
		<key>EMI:isrc:GBAYE1000016</key>
		<array>
			<integer>358045337</integer>
			<integer>358064066</integer>
			<integer>358065499</integer>
			<integer>358072606</integer>
			<integer>358065474</integer>
			<integer>358088827</integer>
			<integer>358240097</integer>
			<integer>358147662</integer>
			<integer>358669543</integer>
			<integer>358100655</integer>
			<integer>358108216</integer>
		</array>
		<key>EMI:isrc:GBAYE1000017</key>
		<array>
			<integer>358045108</integer>
			<integer>358064048</integer>
			<integer>358065330</integer>
			<integer>358072537</integer>
			<integer>358065328</integer>
			<integer>358088128</integer>
			<integer>358239607</integer>
			<integer>358147630</integer>
			<integer>358669346</integer>
			<integer>358100593</integer>
			<integer>358108085</integer>
		</array>
		<key>EMI:isrc:GBAYE1000079</key>
		<array>
			<integer>358045366</integer>
			<integer>358064074</integer>
			<integer>358065736</integer>
			<integer>358072830</integer>
			<integer>358065528</integer>
			<integer>358089330</integer>
			<integer>358669606</integer>
			<integer>358100672</integer>
			<integer>358108282</integer>
		</array>
		<key>EMI:isrc:GBAYE1000120</key>
		<array>
			<integer>358045368</integer>
			<integer>358064075</integer>
			<integer>358065738</integer>
			<integer>358072831</integer>
			<integer>358065557</integer>
			<integer>358089387</integer>
			<integer>358100673</integer>
			<integer>358108297</integer>
		</array>
		<key>EMI:vendor_id:5099962829359_ITUNES_LP</key>
		<array>
			<integer>359960674</integer>
		</array>
	</dict>
</dict>
</plist>

