/* @override http://localhost:8082/media-discovery/lp/ghost/lib/components/facade.reel/facade.css */
.facade {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1280px;
  height: 700px;
  margin-left: -640px;
  margin-top: -350px;
  overflow: hidden;
  z-index: 1;
}

.facade-content {
	position: absolute;
  left: 0px;
  top: 0px;
	width:      1280px;
  height:     700px;
	overflow:   hidden;
	background: transparent;
}



@media only screen and (max-width: 1024px), only screen and (max-height: 768px) {

    /* This is just a quick hack */

    body {
        overflow: hidden;
    }

    .facade {
        -webkit-transform: scale(.75) translate(-170px, -20px);
    }

}