/* @override http://localhost:8082/media-discovery/lp/ghost/lib/components/credits.reel/credits.css */

.credits {
    position: absolute;
    width: 1280px;
    height: 700px;
    background-image: url('images/bg.jpg');
    opacity: 1;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 1px hsla(0,0%,100%,.2),
                        inset 0px -1px 0px hsla(0,0%,0%,.1);
}


.credits .credits-container {
    position: relative;
    margin: 0px 40px 0 200px;
    height: 600px;
    font-size: 17px;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
}

.credits ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.credits-content {
    display: -webkit-box;
}

.credits-content > li {
    display: block;
    margin-top: 40px;
}

.credits-content > li:nth-child(1) {
    -webkit-box-flex: 1;
    padding-right: 60px;
}
.credits-content > li:nth-child(2) {
    width: 400px;
}