/* @override http://localhost:8082/media-discovery/lp/ghost/lib/components/home.reel/home.css */
.home {
    /*position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 700px;*/
    height: 100%;
    width: 100%;
    background-image: url('images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    text-align: center;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 1px hsla(0,0%,100%,.2),
                        inset 0px -1px 0px hsla(0,0%,0%,.1);
}


/* Menu */

.menu {
  position: absolute;
  width: 100%;
  bottom: 15%;

}

.home .play-btn {
    position: relative;
    top: 15%;
    font-size: 24px;
}

.menu > .gallery-btn {
  left: 297px;
  bottom: 580px;
}

.menu > .songlist-btn {
  left: 875px;
  top: 508px;
}

.menu > .credits-btn {
  left: 875px;
  top: 580px;
}


/* buttons */

button.digit-Button {
    margin: 0 10px;
    padding: 0 1.8em;
    font-size: 16px;
    outline: none;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: hsla(0,0%,5%,1);
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
    background: transparent -webkit-radial-gradient(ellipse, hsla(0,0%,100%,.8), hsla(0,0%,100%,.3));
    -webkit-box-shadow: inset 0px 3px 10px hsla(0,0%,100%,.7),
                        inset 0px 18px 0px hsla(0,0%,100%,.12),
                        0px 2px 3px hsla(0,0%,0%,.5);
}
.dark button,
button.dark {
    color: hsla(0,0%,95%,1);
    text-shadow: 0 1px 0 hsla(0,0%,0%,1);
    background: transparent -webkit-radial-gradient(ellipse, hsla(0,0%,0%,.6), hsla(0,0%,0%,.9));
    -webkit-box-shadow: inset 0px -3px 10px hsla(0,0%,0%,1),
                        inset 0px 18px 0px hsla(0,0%,100%,.08),
                        0px 2px 3px  hsla(0,0%,0%,.6);
}
button:active {
    -webkit-transform: translateY(2px);
    -webkit-box-shadow: inset 0px 3px 10px hsla(0,0%,100%,.7),
                        inset 0px 18px 0px hsla(0,0%,100%,.12),
                        0px 0px 1px hsla(0,0%,0%,.9);
}
.dark button:active,
button.dark:active {
    -webkit-box-shadow: inset 0px -3px 10px hsla(0,0%,0%,1),
                        inset 0px 18px 0px hsla(0,0%,100%,.08),
                        0px 0px 1px  hsla(0,0%,0%,.9);
}
