/* @override http://localhost:8082/media-discovery/lp/ghost/lib/components/songlist.reel/songlist.css */

.songlist {
    position: 		absolute;
    width:          100%;
    height:         100%;
    background-image: url('images/bg.jpg');
    background-position:  -100px -30px;
    background-size: 1380px;
    background-repeat: no-repeat;
    opacity: 1;
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 1px 1px hsla(0,0%,100%,.2),
                        inset 0px -1px 0px hsla(0,0%,0%,.1);
}

.songs-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 40px;
    bottom: 40px;
    right: 40px;
    width: 40%;
    overflow: hidden;
    background: hsla(60,20%,80%,.2);
    z-index: 2;
}

.songs-container > .montage-list-scrollView {
    height: 100%;
}

.songs-container .montage-list-scroller {
    height: 100%;
}

.cover {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 25%;
    left: 190px;
    border-radius: 12px;
    background-image: url('images/cover.jpg');
    -webkit-box-shadow: inset 0px 1px 1px hsla(0,0%,100%,.2),
                        inset 0px -1px 0px hsla(0,0%,0%,.1);
    -webkit-transform: scale(.6) rotate(-10deg);
}


.cover.play {
    -webkit-animation: play 3.6s linear infinite;
}

@-webkit-keyframes play {
      0% { -webkit-transform: scale(.7) rotate(0deg); }
    100% { -webkit-transform: scale(.7) rotate(360deg); }
}

.song-button {
    cursor: pointer;
    border-top: 1px solid hsla(0,0%,100%,.2);
    border-bottom: 1px solid hsla(0,0%,0%,.1);
}
.song-button:active {
    background: hsla(0,0%,100%,.5);
}

.song-button .title {
    font-size: 24px;
    padding: 0 30px;
    line-height: 60px;
    font-weight: bold;
    text-shadow: 0 1px 0 hsla(0,0%,100%,.3);
}

.song-button .title .duration {
    font-size: 20px;
    color: hsla(46,10%,30%,.9);
    float: right;
}

@media screen and (max-width: 1024px) {
    .songlist {
        background-size: 1100px;
        background-position: -140px -20px;
    }

    .cover {
        width: 250px;
        height: 250px;
        top: 25%;
        left: 90px;
        background-size: cover;
    }

}
